---
{{ ansible_managed | comment }}

- hosts: all
  roles:
    - role: amtega.bootstrap
      ansible_user: "{{ vm.ansible_user | default('vagrant') }}"
      ansible_password: "{{ vm.ansible_ssh_pass | default('vagrant') }}"
      ansible_python_interpreter: "{{ vm.ansible_python_interpreter | default('/usr/bin/python') }}"
      bootstrap_enable: true
      bootstrap_ansible_user: "{{ vm.ansible_user | default('vagrant') }}"
      bootstrap_ansible_password: "{{ vm.ansible_ssh_pass | default('vagrant') }}"
      bootstrap_become: "{{ vm.ansible_become | default(false) }}"
      bootstrap_become_method: "{{ vm.ansible_become_method | default('sudo') }}"
      bootstrap_become_user: "{{ vm.ansible_become_user | default('root') }}"
      bootstrap_become_pass: "{{ vm.ansible_become_pass | default('vagrant') }}"
      bootstrap_http_proxy: "{{ ansible_env.http_proxy | default('') }}"
      bootstrap_https_proxy: "{{ ansible_env.https_proxy | default('') }}"
      bootstrap_no_proxy: "{{ ansible_env.no_proxy | default('') }}"
