{% for result in vagrant_sandbox_read_state_files_result.results %}
{% set state=result.stdout | from_yaml %}
{% set vm_name=result.item | dirname | basename %}
{% if (state.ppid == ppid and vagrant_sandbox_cleanup_by_ppid)
      or (state.user == user and vagrant_sandbox_cleanup_by_user)
      or (state.playbook == playbook and vagrant_sandbox_cleanup_by_playbook)
      or (state.inventory == inventory and vagrant_sandbox_cleanup_by_inventory) %}
- name: "{{ vm_name }}"
  hostname: "{{ vm_name | regex_replace('_', '-') }}"
  directory: "{{ vagrant_sandbox_vms_directory | expanduser }}/{{ vm_name }}"
  state: "absent"
{% endif %}
{% endfor %}
