{% for file in vagrant_sandbox_state_files %}
{% if (lookup("ini", "ppid section=sandbox file=" + file) == ppid
       and vagrant_sandbox_cleanup_by_ppid)
       or (lookup("ini", "user section=sandbox file=" + file) == user
           and vagrant_sandbox_cleanup_by_user)
       or (lookup("ini", "playbook section=sandbox file=" + file) == playbook
           and vagrant_sandbox_cleanup_by_playbook)
       or (lookup("ini", "inventory section=sandbox file=" + file) == inventory
           and vagrant_sandbox_cleanup_by_inventory) %}
- name:  "{{ file | dirname | basename }}"
  hostname:  "{{ file | dirname | basename }}"
  directory: "{{ file | dirname }}"
  state: "absent"
{% endif %}
{% endfor %}
